{% if page.meta.comments %}
   <script src="https://giscus.app/client.js"
           data-repo="konsilion/website"
           data-repo-id="R_kgDOIrdTlg"
           data-category="_"
           data-category-id="DIC_kwDOIrdTls4CTVHJ"
           data-mapping="pathname"
           data-strict="0"
           data-reactions-enabled="1"
           data-emit-metadata="0"
           data-input-position="top"
           data-theme="preferred_color_scheme"
           data-lang="fr"
           crossorigin="anonymous"
           async>
   </script>
{% endif %}
